@import url('https://fonts.googleapis.com/css2?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 1.125em;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}